.App {
    display: flex;
    justify-content: center;
}

.converter {
    margin-top: 5rem;
    padding: 25px;
    display: flex;
    flex-direction: column;
    border: solid #000 10px;
    background-color: #393e46;
    border-radius: 1rem;
}

.title {
    margin: 0;
    color: #eeebdd;
    font-size: 60px;
}

.input-box {
    margin-top: 15px;
}

.input-label {
    margin-right: 15px;
    font-size: 35px;
    color: #eeebdd;
    border: solid #393e46;
}

.input-style {
    width: 170px;
    color: #eeebdd;
    background-color: #364547;
    font-size: 30px;
    border: solid 5px #000;
    border-radius: 15px;
}